.table-hover tbody tr:hover td {
    background: #aca8a8;
}

.table-active tbody tr:active td{
    background: aqua;
     background-color: red;
}

.container > .row > .table > tr.active .table-active{
    background:red;
    background-color: red;
}

.table-active {
    background-color: red;
}