{% extends "layout.html" %}

{% block title %}
    {{ "Edit" if show_actions else "Home"  }} 
{% endblock %}

{% block main %}
    <div class="col-6 mx-auto">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Album</th>
                <th scope="col">Artist</th>
                <th scope="col">Rating</th>
                <th scope="col">Release</th>
                {% if show_actions %}
                    <th scope="col">Actions</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
                {% for album,artist,rating in album_data %}
                <tr>   
                    <td> <img src="static/images/music_icon.png" width="100">  </td> 
                    <td> {{ album.title }} </td>
                    <td> {{ artist.name }} </td>
                    <td> {{ '%-2s \u2B50' % rating.rating_value if rating else ""  }} </td>
                    <td> {{ album.release_date }} </td>
                    {% if show_actions %}
                        <td>
                            <form method="GET" action="/edit_music_data" style="display: inline;"> 
                                <input type="hidden" name="album_id" value="{{ album.id }}">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                            <form method="POST" action="/delete" style="display: inline;">
                                <input type="hidden" name="album_id" value="{{ album.id }}">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                    {% endif %}
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

